<div class="weather-comp">
    <div class="search-temp">
        <button
            (click)="getCity()"
        >
            <img src="../../assets/search.svg" />
        </button>
        <input
            (keyup.enter)="getCity()" 
            type="text"
            placeholder="Search for places..."
        />
    </div>
    <div [class]="state">
        <img class="img-temp" [src]="urlImage" />
        <section>
            <p><span class="temp">{{ temp }}</span>ºC</p>
            <p>{{ day }}, <span class="hour">{{ hour }}</span></p>
        </section>
        <div class="info-city">
            <p>{{ city }}</p>
            <img src="../../assets/town.svg" />
        </div>
    </div>
</div>
