<div class="weather-comp">
    <div class="search-temp">
        <button>
            <img src="../../assets/search.svg" />
        </button>
        <input type="text" placeholder="Search for places..." />
    </div>
    <img class="img-temp" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" />
    <p><span class="temp">{{ temp }}</span>ºC</p>
    <p>{{ day }}, <span class="hour">{{ hour }}</span></p>
    <div class="info-city">
        <p>{{ city }}</p>
        <img src="../../assets/town.svg" />
    </div>
</div>
