<div class="highlights">
    <section>
        <div class="uv-index">
            <p [class]="state">UV Index</p>
            <p [class]="state" class="info"><span>{{ uvIndex }}</span></p>
        </div>
        <div class="wind-status">
            <p [class]="state">Wind Speed</p>
            <p [class]="state" class="info"><span>{{ windSpeed }}</span>km/h</p>
        </div>
    </section>
    <section>
        <div class="humidity">
            <p [class]="state">Humidity</p>
            <p [class]="state" class="info"><span>{{ humidity }}</span>%</p>
        </div>
        <div class="visibility">
            <p [class]="state">Visibility</p>
            <p [class]="state" class="info"><span>{{ visibility }}</span>km</p>
        </div>
    </section>
</div>