<div class="highlights">
    <section>
        <div class="uv-index">
            <p>UV Index</p>
            <p class="info"><span>{{ uvIndex }}</span></p>
        </div>
        <div class="wind-status">
            <p>Wind Speed</p>
            <p class="info"><span>{{ windSpeed }}</span>km/h</p>
        </div>
    </section>
    <section>
        <div class="humidity">
            <p>Humidity</p>
            <p class="info"><span>{{ humidity }}</span>%</p>
        </div>
        <div class="visibility">
            <p>Visibility</p>
            <p class="info"><span>{{ visibility }}</span>km</p>
        </div>
    </section>
</div>