.highlights{
    width: 100%;
}

.highlights section div .desactivate{
    display: none;
}

.highlights section{
    margin-bottom: 20px;
}

.highlights section div{
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.highlights section div p{
    color: #c2c2c2;
}

.highlights section div .info{
    color: #000000;
    margin: 12px 0px;
    font-size: 16px;
}

.highlights section div .info span{
    font-size: 32px;
}

@media only screen and (min-width: 320px){
    .highlights section{
        display: block;
    }
    .highlights section div{
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px){
    .highlights section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .highlights section div{
        margin-bottom: 0px;
    }
    .highlights section div:first-child{
        margin-right: 20px;
    }
}